<app-search [isHomeScreen]="false" [fieldValue]="fieldValue" (searchFieldEmitter)="search($event)"></app-search>
<br><br>
<div class="container">
    <app-succesfull-loaded-user *ngIf="!isLoading && user" [user]="user" [repos]="repos"></app-succesfull-loaded-user>
    <app-error-loaded-user *ngIf="!found && !isLoading" msg="Usuário não encontrado :("></app-error-loaded-user>
    <app-error-loaded-user *ngIf="found && !isLoading" msg="Erro de conexão >("></app-error-loaded-user>
    <app-loading-user *ngIf="isLoading"></app-loading-user>
</div>