<div *ngIf="isHomeScreen">
    <app-github-search-label [isHomeScreen]="isHomeScreen"></app-github-search-label>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="input-group">
                <input type="text" class="form-control right-borderles" [formControl]="searchField">
                <button type="button" [disabled]="!searchField.value" class="btn btn-primary left-borderless w-90px" (click)="onSearchClicked()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="!isHomeScreen">
    <br>
    <div class="row align-items-center">
        <div class="col-sm-3">
            <app-github-search-label [isHomeScreen]="isHomeScreen"></app-github-search-label>
        </div>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control right-borderles" [formControl]="searchField">
                <button type="button" [disabled]="!searchField.value" class="btn btn-primary left-borderless w-90px" (click)="onSearchClicked()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>