.right-borderles{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.left-borderless{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.w-90px{
    width: 90px;
}